<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Website Message Received</h1>
    <p>
      Thank you <%= @name %>!
      Your message is received and I will be getting back to you shortly.

      Best Regards,
      Ryan
    <!-- </p> -->
    <!-- <p> -->
    </p>
  </body>
</html>
