<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @email_subject %></h1>
    <p>
      Thank you <%= @name %>!
      <br>
      Your message left at ryanduchin.com is received and I will be getting back to you shortly.
    </p>
    <p>
      Best Regards,
      <br>
      Ryan Duchin
    </p>
  </body>
</html>
