<!DOCTYPE html>
<html>
<head>
  <title>Ryan Duchin</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- [if lte IE 8]><script src="app/assets/js/ie/html5shiv.js"></script><![endif] -->
  <!-- <link rel="stylesheet" href="app/assets/css/main.css" /> -->
  <!-- <noscript><link rel="stylesheet" href="app/assets/css/noscript.css" /></noscript> -->
  <!--[if lte IE 8]><link rel="stylesheet" href="app/assets/css/ie8.css" /><![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>w
</head>
<body>

<%= yield %>

</body>
</html>
